

.serverTable {
    border: 1px solid #ccc;
}
.serverTable tr{
    border-bottom: 1px solid #ccc;
}
.serverTable thead tr th{
    color: white;
}
.serverTable th{
    border-left:  1px solid #ccc;
}

.serverTableBody th {
    padding: 8px 0;
}

.NavigationPage span{
    padding: 4px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.NameServer {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2; 
    overflow: hidden;
    word-break: break-word;
}
