# Secret keys & authentication
KEY=your_secret_key
JWT_KEY=your_jwt_key
CLIENT_SECRET=your_google_client_secret
CLIENT_ID=your_google_client_id

DB_URL=your_database_url

# Token expiration times (in seconds)
TOKEN=3600
REFRESH_TOKEN=86400

# OAuth settings
URL_GETINFO=https://www.googleapis.com/oauth2/v2/userinfo
REDIRECT_URI=https://your-production-domain.com/login  # Thay bằng URL thực tế nếu deploy

# Allowed domains
ACCESS_DOMAIN=your_allowed_domain

SESSION_EXPIRATION = your_session_expiration

CONFIG_PATH = "your_path_config.json"

ACCESS_EMAIL = ["example@gmail.com", "example2@gmail.com"]

